* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
    background: none;
}

.bttn {
    font-size: 1.5rem;
    font-family: 'Switzer-regular';
}

.bttn:hover {
    cursor: pointer;
}